.nav-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
    z-index: 1000;
}

.nav-bar-logo img {
    height: 70px;
    z-index: 1001;
}

.nav-bar-menu ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-transform: capitalize;
}

.nav-bar-menu ul li {
    list-style: none;
    
}

.nav-bar-menu ul li a {
    color: #eee;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    transition: color 0.3s ease;
    padding: 10px 0;
}

.nav-bar-menu ul li a:hover {
    color: #fff;
}

.nav-bar-menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.nav-bar-menu ul li a:hover::after {
    width: 100%;
}

.nav-bar-cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-bar-cta-mobile {
    display: none;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
    position: relative;
}

.hamburger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eee;
    border-radius: 2px;
    transition: all 0.3s ease;
}


.hamburger-menu.active .hamburger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger-menu.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .hamburger-line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}


.mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
}


@media screen and (max-width: 1024px) {
    .nav-bar-wrapper {
        padding: 0 50px;
    }
    
    .nav-bar-menu ul {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar-wrapper {
        padding: 0 30px;
    }
    
    
    .nav-bar-menu:not(.mobile-open) {
        display: none;
    }
    
    .nav-bar-cta-wrapper {
        display: none;
    }
    

    .hamburger-menu {
        display: flex;
    }
    
  
    .nav-bar-menu.mobile-open {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 40px 40px;
        z-index: 1000;
        transform: translateX(0);
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3);
        animation: slideIn 0.3s ease;
    }
    
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }
    
    .nav-bar-menu.mobile-open ul {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    
    .nav-bar-menu.mobile-open ul li a {
        font-size: 18px;
        display: block;
        width: 100%;
        padding: 15px 0;
    }
    

    .nav-bar-cta-mobile {
        display: block;
        margin-top: 40px;
        width: 100%;
    }
    

    .mobile-menu-overlay {
        display: block;
    }
    

    .nav-bar-logo img {
        height: 60px;
    }
}

@media screen and (max-width: 480px) {
    .nav-bar-wrapper {
        padding: 0 20px;
    }
    
    .nav-bar-menu.mobile-open {
        width: 250px;
        padding: 90px 30px 30px;
    }
    
    .nav-bar-logo img {
        height: 50px;
    }
}


body.menu-open {
    overflow: hidden;
}